
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("BuscarCEP", "Home", FormMethod.Post))
{
    <input type="text" name="CEP" placeholder="Insira o CEP"/>
    <input type="submit" value="Buscar Cep" class="btn btn-success"/>

}
